* {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;

}

.logo-container {
  display: flex;
  position: relative;
  padding: 20px;
  width: 25%;
}

.logo-container p {
  position: absolute;
  font-size: 12px;
  text-transform: uppercase;
  top: 50px;
  left: 70px;
}

.logo-container img {
  margin-right: 10px;
}

.main-nav {
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;  
}

.main-nav li {
  padding: 2px;
}

#navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid black;
  padding: 10px;
}

.heading {
  padding: 25px;
  position: relative;
  /* margin-bottom: 20px; */
  margin-left: 0px;
}

.heading p {
  font-size: 12px;
  text-transform: uppercase;
}

.heading a {
  position: absolute;
  right: 75px;
  bottom: 30px;
}

#content-container {
  padding-left: 30px;
  margin: 0 auto;
}

#content-container img {
  width: 95%;
}