* {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

span {
  font-size: 12px;
}

.logo-container {
  display: flex;
  position: relative;
  padding: 20px;
  width: 25%;
}

.logo-container p {
  position: absolute;
  font-size: 12px;
  text-transform: uppercase;
  top: 50px;
  left: 70px;
}

.logo-container img {
  margin-right: 10px;
}

.main-nav {
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;  
}

.main-nav li {
  padding: 1px;
}

#rss-icon {
  margin-left: 7px;
}

#navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid black;
  padding: 10px;
}

.heading {
  padding: 25px;
  position: relative;
  margin-left: 0px;
}

.heading p {
  font-size: 12px;
  text-transform: uppercase;
}

.heading a {
  position: absolute;
  right: 35px;
  bottom: 30px;
}

#content-container {
  padding-right: 30px;
  padding-left: 30px;
  margin: 0 auto;
}

#content-container img {
  width: 100%;
}

#content-container p {
  text-indent: 20px;
  padding: 15px 0px;
}

#ingredients {
  list-style-type: square;
  columns: 2;
  padding: 30px;
  padding-left: 100px;
  background-image: url(../img/list-bg.png);
}

#ingredients li {
  font-size: 16px;
  padding: 2px;
  padding-left: 
}

#author-container {
  display: flex;
  position: relative;
  padding-left: 25px;
  margin-top: 20px;
  padding-bottom: 40px;
  width: 100%;
}

#author-container img {
  margin-right: 30px;
}

#author-container p {
  position: absolute;
  top: 30px;
  left: 122px;
}

button {
  position: absolute;
  top: 8px;
  right: 50px;
  padding: 20px;
  width: 12%;
  background-color: #B2735D;
  color: white;
  text-transform: uppercase;
  font-size: 1em;
}

#bottom-logo{
  overflow: visible; /* For IE */
  padding: 0;
  margin: 0 30px;
  border: none;
  border-top: 1px solid #F0F0F0;
  color: #333;
  text-align: center;
}
#bottom-logo:after {
  content: url(../img/small-logo.png);
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1.5em;
  padding: 0 0.25em;
  background: white;
}

#copyright {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
}
