* {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;

}

.logo-container {
  display: flex;
  position: relative;
  padding: 20px;
  width: 25%;
}

.logo-container p {
  position: absolute;
  font-size: 12px;
  text-transform: uppercase;
  top: 50px;
  left: 70px;
}

.logo-container img {
  margin-right: 10px;
}

.main-nav {
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;  
}

.main-nav li {
  padding: 2px;
}

#navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid black;
  padding: 10px;
}

.heading {
  padding: 25px;
  position: relative;
  margin-left: 0px;
}

.heading p {
  font-size: 12px;
  text-transform: uppercase;
}

.heading a {
  position: absolute;
  right: 35px;
  bottom: 30px;
}

#content-container {
  padding-right: 30px;
  padding-left: 30px;
  margin: 0 auto;
}

#content-container img {
  width: 100%;
}

#content-container p {
  text-indent: 20px;
  padding: 15px 0px;
}

#ingredients {
  list-style-type: square;
  columns: 2;
  padding: 30px;
  padding-left: 70px;
  background-image: url(../img/list-bg.png);
}

#ingredients li {
  font-size: 16px;
  padding: 2px;
  padding-left: 
}

#author-container {
  display: flex;
  position: relative;
  padding-left: 20px;
  margin-top: 20px;
  padding-bottom: 40px;
}

#author-container img {
  margin-right: 30px;
}

#author-container p {
  position: absolute;
  top: 30px;
  left: 122px;
}

#author-container button {
  position: absolute;
  top: 20px;
  right: 30px;
  padding: 20px;
  width: 12%;
  background-color: orange;
  color: white;
  text-transform: uppercase;
  font-size: 1em;
}